Redirect /eye2eye/donate /eye2eye/donate.php
Redirect /vote /vote.php
Redirect /apply /rush/application.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*buakpsi\.com[\\\/][^\.]*$ $1.php [NC,L]